footer {
  display: flex;
  width: 100%;
  height: 150px;
  background-color: var(--bitcoin-orange);
}
footer section {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
}
footer .left ul {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  list-style: none;
}
.left li {
  margin: 10px 0;
}
.left a {
  text-decoration: none;
  color: var(--just-white);
}
