<section id="plans" class="main-plans-container">
  <div class="plans--title">
    <h2>Escoge el plan que mejor se ajuste a ti.</h2>
    <p>Cualquier plan te da acceso completo a nuestra plataforma.</p>
  </div>
  <section class="plans-container--slider">
    <article class="plans-container--card">
      <p>Recomendado</p>
      <div>
        <h3>Pago Anual</h3>
        <p><span>$</span>99</p>
        <p>*Ahorras $129 comparado al plan mensual.</p>
        <button>Escoger este <span></span></button>
      </div>
    </article>
  </section>
</section>
