<section id="plans" class="main-plans-container">
  <div class="plans--title">
    <h2>Escoge el plan que mejor se ajuste a ti.</h2>
    <p>Cualquier plan te da acceso completo a nuestra plataforma.</p>
  </div>
  <section class="plans-container--slider">

    <article class="plans-container--card">
      <p class="recommended basic">Basico</p>
      <div class="plan-info-container">
        <h3 class="plan-card--title">Pago Mensual</h3>
        <p class="plan-card--price"><span>$</span>19</p>
        <p class="plan-card--saving">*Plan basico, aunque con todas las ventajas.</p>
        <button class="plan-card--ca">Escoger este <span></span></button>
      </div>
    </article>

    <article class="plans-container--card">
      <p class="recommended">Recomendado</p>
      <div class="plan-info-container">
        <h3 class="plan-card--title">Pago Anual</h3>
        <p class="plan-card--price"><span>$</span>99</p>
        <p class="plan-card--saving">*Ahorras $129 comparado al plan mensual.</p>
        <button class="plan-card--ca">Escoger este <span></span></button>
      </div>
    </article>

    <article class="plans-container--card">
      <p class="recommended limit">Limitado</p>
      <div class="plan-info-container">
        <h3 class="plan-card--title">Pago Anual</h3>
        <p class="plan-card--price"><span>$</span>199</p>
        <p class="plan-card--saving">*Exclusivo para los primeros 100 clientes.</p>
        <button class="plan-card--ca">Escoger este <span></span></button>
      </div>
    </article>

  </section>
</section>
